/* Extra Small Devices */
*{
@media only screen and (max-width: 600px) {
  .special-component {
      font-size: 12px;
      padding: 5px;
  }
}

/* Small Devices */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .special-component {
      font-size: 14px;
      padding: 10px;
  }
}

/* Medium Devices */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .special-component {
      font-size: 16px;
      padding: 15px;
  }
}

/* Large Devices */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .special-component {
      font-size: 18px;
      padding: 20px;
  }
}

/* Extra Large Devices */
@media only screen and (min-width: 1200px) {
  .special-component {
      font-size: 20px;
      padding: 25px;
  }
}
}
